/* # element */
.el_btnWrap {
  display: flex;
  gap: 10px;
}
.el_btn {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7rem;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 3px;
  outline: none;
  border: none;
  cursor: pointer;
}
.el_btn__xs {
  width: 78px;
  height: 30px;
}
.el_btn__sm {
  width: 120px;
  height: 30px;
}
.el_btn__md {
  width: 150px;
  height: 40px;
}
.el_btn__md.h30 {
  height: 30px;
}
.el_btn__lg {
  width: 200px;
  height: 50px;
}
.el_btn__black {
  background-color: #282a2e;
  color: #fff;
}

.el_label {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 800;
  margin-right: 15px;
  color: #282a2e;
}
.el_label__first {
  width: 73px;
  display: inline-block;
}
.el_label2 {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 700;
  color: #282a2e;
}
.el_label3 {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  color: #474d52;
}
.el_input_select2 {
  width: 100%;
  max-width: 136px;
  padding: 11px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  /* background-image: url(/img/icon-downArrow-blue.png); */
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-family: "NanumSquare", sans-serif !important;
}
.el_input_select2__lg {
  max-width: 253px;
}
.el_input_select2:disabled {
  background-color: #fbfafa;
  cursor: no-drop;
}
.el_input_select2 > .item {
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-weight: 400;
  background-color: #ffffff;
  font-family: "NanumSquare", sans-serif;
  transform: skew(-0.01deg);
}
.el_input_select2 > .item:hover {
  background-color: #f3f4f5 !important;
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

.el_input_date {
  width: 100%;
  max-width: 136px;
  padding: 11px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  /* background-image: url(/img/icon-calendar.png); */
  position: relative;
  font-family: "NanumSquare", sans-serif;
}
.el_input_date::-webkit-clear-button,
.el_input_date::-webkit-inner-spin-button {
  display: none;
}
.el_input_date::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
.el_getBtn {
  border-radius: 5px;
  background-color: #0040b5;
  padding: 11px 20px;
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: 800;
  color: #fff;
  border: none;
  cursor: pointer;
}
.el_classicBtn {
  background-color: #fbfafa;
  border: 1px solid #a1a1a1;
  padding: 7px 26px;
  color: #474d52;
  width: fit-content;
  border-radius: 3px;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
}
.el_classicBtn.img {
  padding-left: 12px;
  padding-right: 16px;
}
/* @@pagination */
.el_pagination {
  gap: 2px;
}
.el_pagination > .item {
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #dbdfe0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  cursor: pointer;
}
.el_pagination > .item.prevBtn,
.el_pagination > .item.nextBtn {
  color: #dbdfe0;
}
.el_pagination > .item.active {
  background-color: #282a2e;
  border-color: #282a2e;
  color: #fff;
}
.el_pagination > .item.deactive {
  color: #fff;
  background-color: #dbdfe0;
  cursor: default;
}
.el_pagination > .item.first,
.el_pagination > .item.last {
  letter-spacing: -0.3px;
  margin: 0 1px;
}
.el_pagination > .item.skip {
  cursor: default;
}
.el_info {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  color: #8d8d8d;
}
/*
.el_input_checkWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
*/
.el_input_checkWrap:not(.el_input_checkWrap:last-child) {
  margin-right: 26px;
}
/*
.el_input_check {
  display: none;
}
.el_input_checkLabel {
  width: 15px;
  height: 15px;
  border: 1px solid #474d52;
  position: relative;
}
.el_input_check:checked + .el_input_checkLabel::after {
  content: url(/img/icon-checked.png);
  position: absolute;
  bottom: -3px;
  left: 1px;
}
*/
.el_input_radioWrap {
  display: flex;
  gap: 26px;
}
.el_input_radioInnerWrap {
  display: flex;
  align-items: center;
  gap: 12px;
}
.el_input_radio {
  accent-color: #474d52;
  width: 15px;
  height: 15px;
}
.el_inputWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.el_input_innerWrap {
}
.el_input,
.el_input_select {
  width: 160px;
  height: 30px;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 0 13px;
  cursor: pointer;
  color: #474d52;
}
.el_input:not(.el_input:last-child) {
  margin-right: 8px;
}
.el_input:disabled {
  background-color: #f3f4f5;
  cursor: no-drop;
}
.el_input::placeholder {
  color: #8d8d8d;
}
.el_input_select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  /* background-image: url(/img/icon-downArrow-gray-outlined.png); */
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
}
/* @@@ el_input modifier */
.el_input__wonWrap {
  width: fit-content;
  position: relative;
}
.el_input__won {
  padding-right: 30px;
}
.el_input__wonLabel {
  color: #474d52;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.el_input__sm {
  width: 148px;
}
.el_input__md {
  width: 220px;
}
.el_input__lg {
  width: 260px;
}
.el_input__full {
  width: 100%;
}
.el_content_title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
  color: #266ae8;
  margin-bottom: 15px;
}