.tabmenuWrapper{

}

.tabmenuWrapper article{

}
.tabmenuController{
    display: flex;
    justify-content: space-between;
}
.tabmenuSearch{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    margin: 15px 0px 25px 0px;
}
.bl_middleWrap_right{
    display: flex;
    align-items: center;
}
.tabmenuSearch div{
    display: flex;
    align-items: center;
    padding : 0px 10px 0px 10px;
}

.tabmenuSearch select {
    border:none;
    border-left: 1px solid black;
    font-size: 14px;
}
.resultNum{
    margin-right: 10px;
}

 .tabmenuSearch .un_pageItemSelect{
    display: flex;
}
.tabContainer{
}
.tabMenu{
    display: flex
}

.tabMenu li{
    display: flex;
    width:200px;
    height: 40px;
    justify-content: center;
    border: 1px solid #A1A1A1;
    border-bottom: none;;
    border-radius: 5px 5px 0 0 ;
    font-size: 14px;
}

.tabMenu li div {
    display: flex;
    align-self: center;
    
}
.active {
    background:#C2DFFF;
}

